black==22.8.0                       # MIT
flake8==3.9.2                       # MIT
mock==4.0.3                         # BSD-2-Clause license
pytest==7.1.3                       # MIT
tox==3.26.0                         # MIT
