apiVersion: v1
kind: Service
metadata:
  name: {{ include "neo4j.fullname" . }}
  labels:
{{ include "neo4j.labels" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 7474
      targetPort: 7474
      protocol: TCP
      name: browser
    - port: 7687
      targetPort: 7687
      protocol: TCP
      name: bolt
  selector:
    app.kubernetes.io/name: {{ include "neo4j.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
